<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <script type='module' src="script.js"></script>
    <link rel="stylesheet" href="side.css"/>
</head>
<body>
    <header>
        <div id="shadowBox">
                <h1 class="rainbow rainbow_text_animated">Rainbow warriors</h1>
        </div>
        <nav id='menu'></nav>
    </header>
    <main>

    </main>
    <footer>
        <p></p>
            &copy; Rainbow warriors
        </footer>
    </footer>
</body>
</html>